# Verification


## Supported Types

### Otp

```csharp
Verification.CreateOtp(/* values here */);
```

### Admin

```csharp
Verification.CreateAdmin(/* values here */);
```

### FromOAuth

```csharp
Verification.CreateFromOAuth(/* values here */);
```

### Ticket

```csharp
Verification.CreateTicket(/* values here */);
```
