# Verification


## Supported Types

### VerificationOtp

```csharp
Verification.CreateVerificationOtp(/* values here */);
```

### VerificationAdmin

```csharp
Verification.CreateVerificationAdmin(/* values here */);
```

### VerificationFromOauth

```csharp
Verification.CreateVerificationFromOauth(/* values here */);
```

### VerificationTicket

```csharp
Verification.CreateVerificationTicket(/* values here */);
```

### VerificationSaml

```csharp
Verification.CreateVerificationSaml(/* values here */);
```
