# Verification


## Supported Types

### Otp

```csharp
Verification.CreateOtp(/* values here */);
```

### Admin

```csharp
Verification.CreateAdmin(/* values here */);
```

### Oauth

```csharp
Verification.CreateOauth(/* values here */);
```
