# VerificationWeb3VerificationStatus

## Example Usage

```csharp
using Clerk.BackendAPI.Models.Components;

var value = VerificationWeb3VerificationStatus.Unverified;
```


## Values

| Name         | Value        |
| ------------ | ------------ |
| `Unverified` | unverified   |
| `Verified`   | verified     |
| `Failed`     | failed       |
| `Expired`    | expired      |